
#traffic-top{
    background: black;
    height:10rem;
    width: 1.5rem;
    margin: auto;

}
#container{

    background-color: black;
    width: 15rem;
    height: auto;
    margin:auto;
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
     
}

.light{
    height: 5px;
    width: 5px;
    margin: auto;
    border-radius: 50%;
    margin: 1rem  auto;
    padding: 4rem;
    cursor: pointer;
    
    &.red{background-color: rgb(192, 5, 5);}
    &.yellow{background-color: rgb(255, 196, 0);}
    &.green{background-color: green;}
    &.purple{background-color: purple;}
    &.selected{box-shadow: #f8ffcc 0px 0px 50px 20px;}
}

.btn{
    color: white;
    margin: 0 2rem;
    font-size: 2rem;
    background: rgb(5, 11, 94);
    &:hover {background: rgb(16, 26, 161); color: white;}
}